<section class="py-7">
    <div class="container">
        <div class="shadow-2xl mx-auto p-3 my-5 md:w-1/2">
            <h2 class="text-center text-3xl font-bold mb-5 mt-3">chang<span class="text-[#fd4393]">e</span> password
            </h2>

            @if(step===1){
            <form [formGroup]="emailForm" (ngSubmit)="formStep1()">
                <p class="capitalize">enter your eamil</p>
                <app-input [control]="emailForm.get('email')" [typeInput]="'email'" [idInput]="'email'"
                    [labelInput]="'email'"></app-input>
                <button class="btn-main w-full">verify email</button>
            </form>
            }


            @if(step === 2){
            <form [formGroup]="verifyForm" (ngSubmit)="formStep2()">
                <p class="capitalize">enter your Verify code</p>

                <app-input [control]="verifyForm.get('resetCode')" [typeInput]="'text'" [idInput]="'code'"
                    [labelInput]="'code'"></app-input>
                <button class="btn-main w-full">verify code</button>
            </form>
            }


            @if(step === 3){
            <form [formGroup]="resetForm" (ngSubmit)="formStep3()">
                <p class="capitalize">enter your eamil</p>

                <app-input [control]="resetForm.get('email')" [typeInput]="'email'" [idInput]="'email'"
                    [labelInput]="'email'"></app-input>
                <p class="capitalize">enter new password</p>
                <app-input [control]="resetForm.get('newPassword')" [typeInput]="'password'" [idInput]="'password'"
                    [labelInput]="'password'">
                    incorrect password pattern
                </app-input>
                <button class="btn-main w-full">next</button>
            </form>

            }


        </div>

    </div>
</section>