<section class="py-8 md:py-14">
    <div class="container mx-auto px-4">
        <h1 class="text-center my-5 capitalize text-2xl md:text-4xl">
            brand<span class="text-[#fd4393]">'s</span> details
        </h1>

        <div class="grid grid-cols-1 lg:grid-cols-12 items-center gap-5 shadow-2xl px-4 py-8 mt-6 rounded-lg">

            <!-- Image section -->
            @if(brandDetails(); as brand) {
            <div class="lg:col-span-3 flex justify-center">
                <div class="w-full max-w-sm lg:max-w-none border border-gray-300 rounded-2xl overflow-hidden">
                    <img [src]="brandDetails().image" [alt]="brandDetails().slug"
                        class="w-full object-contain rounded-lg">
                    <!-- غيرت object-cover لـ object-contain وشيلت الـ height -->
                </div>
            </div>

            <!-- Content section -->
            <div class="lg:col-span-9 text-center lg:text-left">
                <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold text-gray-900">
                    {{ brandDetails().name }}
                </h2>
                <p class="text-gray-600 mt-4 text-sm md:text-base">
                    {{ brandDetails().slug }}
                </p>
            </div>
            }
            @else {
            <p>Loading brand details...</p>
            }
        </div>
    </div>
</section>